useDynLib(spate)
exportPattern("^[[:alpha:]]+")
import("mvtnorm")
import("truncnorm")
S3method(print, spateMCMC)
S3method(print, spateSim)
S3method(summary, spateSim)
S3method(plot, spateMCMC)
S3method(plot, spateSim)
importFrom("grDevices", "dev.cur", "dev.new", "dev.off", "dev.set","jpeg")
importFrom("graphics", "abline", "hist", "image", "lines", "par","plot", "points")
importFrom("stats", "cov", "quantile", "rnorm", "runif", "sd")